body{
	padding-top: 75px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid{
	padding: 0;
}
.navbar-default{
	background: #fff;
	border: none;
	border-bottom: 1px solid #000;
	border-radius: 0px;
	box-shadow: none;
}
.navbar-header{
	padding: 3px 11px;
}
.navbar-default .navbar-toggle{
	border-color: #000;
	background-color: #fff;
	margin-right: 0;
}
.navbar-default .navbar-toggle:hover{
	background: #000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
  	background-color: #fff;
}	
.navbar-default .navbar-collapse{
	padding: 0;
	overflow: hidden;
	border-color: #000;
}
.navbar-default .navbar-nav > li > a{
	color: #000;
	font-size: 12px;
	font-family: 'Montserrat';
	text-align: center;
  	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.navbar-icons{
  text-align: center;
}
.navbar-icons > li{
	display: inline-block;
}
.navbar-icons > li > a{
	display: inline-block;
	text-indent: -9999px;
	height: 46px;
	width: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: .7;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);

}
.navbar-icons img{
	max-width: 100% !important;
}

.margin-breakout-xs{
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-default .primary-logo{
	color: #000;
	font-family: 'Montserrat';
	letter-spacing: -1px;
	width: 28px;
	height: 42px;
	padding: 15px 0 10px 0;
	margin-right: 0;
}

/* OVERVIEW */
.overview{
	padding: 40px 0;
}
.overview__item{
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}
.overview__item img{
	transform: scale(1);
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.overview__fig{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .0);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.overview__fig h2{
	color: #fff;
	font-family: 'Montserrat';
	text-align: center;
	margin: 0;
	line-height: inherit;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -350%);
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.overview__item:hover img{
	transform: scale(1.1);
}
.overview__item:hover .overview__fig{
	background: rgba(0, 0, 0, .6);
}
.overview__item:hover .overview__fig h2{
	transform: translate(-50%, -50%);
	transition-delay: 180ms;
}


/* PORTFOLIO */
.portfolio{
	margin-bottom: 30px;
}

.portfolio h2{
	margin: 0 0 10px;
	font-size: 16px;
	font-family: 'Montserrat';
}

.owl-primary{
	max-height: 627px;
	overflow: hidden;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.owl-primary.active{
	max-height: 313px;
	overflow: hidden;
}

.owl-primary .item{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-primary .owl-dots {
	position: absolute;
	top: -28px;
	right: 0;
	width: 50%;
	text-align: right;
}
.owl-primary .owl-dot {
	background: transparent;
	border: 1px solid #808080;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	height: 5px;
	margin: 0 1%;
	width: 5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	pointer-events: all;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.owl-primary .owl-dot.active {
	background: #676767;
	border: 1px solid #676767;
}
.portfolio-info{
	padding: 15px 0 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.portfolio-info.active{

	max-height: 313px;
	opacity: 1;
}
.portfolio-options{
	  padding: 10px 0 0;
}

.footer{
	padding: 10px 0 15px;
}
.footer h1{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 22px;
	margin: 0 0 5px;
	text-align: center;
}
.footer h1 a{
	color: #000;
}
.footer h1 a:hover, .footer h1 a:active, .footer h1 a:focus{
	text-decoration: none;
}
.footer small a{
	color: #AEAEAE;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.footer small a:hover{
	color: #3D3D3D;
	text-decoration: none;
}

.btn{
	border-radius: 1px;
	font-size: 11px;
	text-transform: uppercase;
	line-height: initial;
	transition: all 200ms cubic-bezier(0.4,0,0.2,1);
}
.btn-primary{
	background: #000;
	border: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
	background: #3D3D3D;
}


.font-brand{
	font-family: 'Montserrat';
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.navbar-default{
		border: none;
	}
	.navbar-default .navbar-nav > li > a{
		color: #4D4D4D;
		text-align: left;
	}
	.navbar-default .navbar-nav:not(.navbar-icons) > li:first-child > a{
		padding-left: 0;
	}
	.navbar-default .navbar-nav > li > a:hover{
		color: #000;
	}
	.navbar-header{
		padding: 0;
	}
	.navbar-default .primary-logo{
		width: 43px;
		height: 42px;
		padding: 12px 0 10px 15px;
		margin-right: 22px;
	}
	.navbar-icons{
		text-align: inherit;
	}
	.navbar-icons > li {
		display: inline-block;
	}
	.navbar-icons > li > a:hover{
		opacity: 1;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.margin-breakout-xs{
		margin: 0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.container{
		
	}
}