---
layout: default
title: "VR / Overview"
---

<!-- <div class="hero">
    <div class="container">
        <div class="owl-carousel owl-hero">
            {% for post in site.posts %}
                <div class="item">
                    {% if post.banner %}
                        <img src="{{ post.banner }}" title="{{ post.title }}" class="img-responsive" />
                    {% else %}
                        <img src="http://placehold.it/1240x528" title="{{ post.title }}" class="img-responsive" />
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<div class="overview">
    <div class="container">
        <div class="row">
            {% for post in site.categories.work reversed %}
                <div class="col-xs-12 col-md-6">
                    <div class="overview__item">
                        <a href="{{ post.url }}">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail }}" title="{{ post.title }}" class="img-responsive" />
                            {% else %}
                                <img src="http://placehold.it/390x233" title="{{ post.title }}" class="img-responsive" />
                            {% endif %}
                            <figcaption class="overview__fig"><h2>{{ post.title }}</h2></figcaption>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>    
</div>


