---
layout: default
title: "Work"
---

<div class="portfolio">
    <div class="container">
        <div class="row">
            {% for post in site.categories.work reversed %}
                <div class="owl-carousel-container portfolio-container">
                    <h2>{{ post.title }}</h2>
                    {% if post.carousel %}
                    <div class="owl-carousel owl-primary">
                        {% for slides in post.carousel %}
                        <div class="item">
                            <img src="{{ slides.image }}" class="img-responsive" title="{{ post.title }}" />
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="portfolio-info">
                        {{ post.content }}
                    </div>
                    <div class="portfolio-options">
                        <button class="btn btn-primary font-brand portfolio-options__more-info js-about-work">More Info</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>    
</div>




