---
layout: default
title: "VR / Work"
---

<div class="portfolio">
    <div class="container">
        {% for post in site.categories.work reversed %}
            <div class="portfolio-container">
                <h2>{{ post.title }}</h2>
                {% if post.carousel %}
                <a href="{{ post.url }}">
                    <div class="portfolio-images">
                        {% for slides in post.carousel %}
                        <img src="{{ slides.image }}" class="img-responsive" title="{{ post.title }}" />
                        {% endfor %}
                    </div>
                </a>
                {% endif %}
                <div class="portfolio-info">
                    {{ post.content }}
                </div>
                <div class="portfolio-options">
                    <button class="btn btn-primary font-brand portfolio-options__more-info js-about-work">More Info</button>
                </div>
            </div>
        {% endfor %}
    </div>    
</div>




