<div id="about-container" class="collapse">
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p>
						My name is Victoria Redmond I specialise in branding & editorial design. I am strong at creating concepts and have an eye for attention to detail. I design with the aim to create something unique and engaging. My skill set has allowed me to produce clear concepts and successful outcomes. I also enjoy working collaboratively to achieve extensive and innovative solutions. 
					</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p>
							Contact
					</p>
				</div>
			</div>
			<div class="text-center about-close">
				<a href="#" class="js-toggle-about font-brand">
					Close
				</a>
			</div>
		</div>
	</div>
</div>
