<div id="about-container" class="collapse">
	<div class="about">
		<div class="container">
			<p>
				Nulla tempor odio sapien, a euismod urna elementum at. Vivamus eu ligula consequat, imperdiet urna ac, cursus orci. Ut tristique fringilla tortor sed congue. Mauris aliquet enim faucibus fermentum porttitor. Duis at commodo velit. Vestibulum dolor urna, egestas sed augue a, molestie euismod justo. Phasellus nunc purus, vulputate a mattis sit amet, tincidunt sed metus. Donec quis libero ligula. Nam a luctus massa, in luctus mi. Suspendisse lobortis odio non erat pellentesque feugiat. Donec vel ante vel nunc scelerisque vestibulum et ut purus. Nam sodales leo in semper blandit. Aliquam arcu eros, aliquam tincidunt luctus eget, eleifend in erat.
			</p>
			<p>
				Worem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu elit ultrices, dapibus leo quis, aliquam sem. Aenean id convallis leo, sed pellentesque felis. Phasellus nisi nulla, accumsan eu bibendum convallis, condimentum at ante. Suspendisse sit amet risus vel est iaculis bibendum sit amet vitae neque. In lacinia mollis mi a lobortis. Fusce placerat condimentum dolor, vitae lobortis augue tempus sit amet. Nam scelerisque porta vehicula. Maecenas semper dictum lacus vitae efficitur. Duis sed magna at lectus laoreet consequat. Nunc et velit vel neque auctor tempus. Pellentesque feugiat imperdiet nisi ut lacinia. Integer turpis eros, mollis vel posuere malesuada, ornare non urna. Proin vitae metus lacus.
			</p>
			<div class="text-center about-close">
				<a href="#" class="js-toggle-about font-brand">
					Close
				</a>
			</div>
		</div>
	</div>
</div>
